/* Estilizando o corpo da página */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: auto;
  display:flex;
  flex-direction: column;
  grid-template-rows: 60px calc(100vh - 100px) 25px;
  min-height: 100vh;
  color: white ;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  padding: 0px;
  color: white;
}


.custom-navbar {
  background-color: #333; /* Define o fundo preto */

}

.custom-navbar .navbar-nav .nav-link {
  color: #ccc ; /* Define o texto branco */
}
.custom-navbar .navbar-nav .nav-link.active {
  color: white ; /* Cor do link ativo (laranja) */
  font-weight:bold ;
}

.custom-navbar .navbar-nav .nav-link:hover {
  color:black; /* Define a cor ao passar o mouse (opcional) */
}


/* Estilo para garantir a responsividade em telas menores */
@media (max-width: 600px) {

  .custom-navbar .navbar-nav   {
    flex-direction: column;
    align-items: center;
  }
  
}

/* Conteúdo principal com flexbox */
main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  background-color: white;
  text-align: center;
  overflow-y:auto;
  height: calc(100vh - 100px);
}

main img.logo {
  width: 50px;
  height: 50px;
}

main h1 {
  font-size: 2.5rem;
  margin: 0px;
}

/* Rodapé fixo */
footer {
  display: flex;
  background-color: #333;
  color: white;
  text-align:center;
  justify-content: center;
  align-items: center;
  height: 25px;
}
footer p {  
  margin: 0;
}