/* Estilos para o contêiner */
.container-fluid {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: space-around; /* Distribui os blocos com espaço entre eles */
    flex-wrap: wrap; /* Permite que os blocos quebrem para a próxima linha em telas menores */
    width: auto;
    height: auto;
    overflow-y: auto; /* Barra de rolagem vertical automática */
    text-align: center;
}

 .card-title {
    font-weight: bold;
 }  

 .card-text  {
    text-align: justify;
     
}